<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load the properties file -->
    <context:property-placeholder location="classpath:sports.properties"/>

    <!-- Basketball -->
    <!-- Definim la dependencia -->
    <bean id="myBasketGameStats"
          class="cat.ilg.springdemo.BasketballGameStatsService">
    </bean>

    <bean id="myBasketCoach"
          class="cat.ilg.springdemo.BasketballCoach">
        <!-- Set the constructor injection -->
        <constructor-arg ref="myBasketGameStats"/>
        <property name="emailAddress" value="${foo.emailAddress}"/>
        <property name="team" value="${foo.team}"/>
    </bean>

    <!-- Gym -->
    <!-- Definim la dependencia -->
    <bean id="myGymGameStats"
          class="cat.ilg.springdemo.GymGameStatsService">
    </bean>

    <bean id="myGymCoach"
          class="cat.ilg.springdemo.GymCoach">
        <constructor-arg ref="myGymGameStats"/>
    </bean>

    <!-- Skate -->
    <!-- Definim la dependencia -->
    <bean id="mySkateGameStats"
          class="cat.ilg.springdemo.SkateGameStatsService">
    </bean>

    <bean id="mySkateCoach"
          class="cat.ilg.springdemo.SkateCoach">
        <!-- Set the setter injection -->
        <property name="gameStatsService" ref="mySkateGameStats"/>
    </bean>

</beans>